<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PSMTabBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PSMTabBarControlFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PXSourceList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PXSourceListTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Yuba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>data_m.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>data_mTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>yuba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4921604913D839E600A17580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492B060E1381546000714F3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4945EB1D13C379E300C6B794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4945EB2C13C379E300C6B794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4945EB4813C379EF00C6B794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4945EB5613C379EF00C6B794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4945EB7113C379FC00C6B794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4945EB7F13C379FD00C6B794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4994BA61134482C100B558A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CD659A134A5FA300FAF37F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D15AC270486D014006FF6A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
